.grid-container {
    display: grid;
    grid-template-columns: repeat(
        10,
        55px
    ); /* Cambia el valor "10" según la cantidad de columnas que desees y el tamaño de las celdas */
    grid-gap: 1cap; /* Espacio entre celdas, puedes ajustar según tus preferencias */
}

.grid-item {
    width: 55px; /* Ancho de cada celda, debe coincidir con el valor usado en "grid-template-columns" */
    height: 50px; /* Altura de cada celda, puedes ajustar según tus preferencias */
    border: 0.5px solid #000000;
    margin-left: 950px;
}

.palette {
    display: grid;
    margin-top: 10px;
    margin-left:50px;
    grid-template-columns: repeat(6, 100px);
}

.color {
    width: 90px;
    height: 90px;
    border-radius: 100%;

    margin-right: 20px;
    cursor: pointer;
}
/* Estilos generales para el body y la imagen */
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    display: block; /* Asegura que la imagen no tenga espacios extraños alrededor */
}

/* Estilos específicos para el contenedor que contiene la imagen */
.container {
    position: relative; /* Permite posicionar la imagen dentro de este contenedor */
    width: 500px; /* Ajusta el ancho del contenedor según tus necesidades */
    height: 300px; /* Ajusta la altura del contenedor según tus necesidades */
}

/* Posiciona la imagen dentro del contenedor según tus necesidades */
img {
    position: absolute;
    top: -600px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 100px; /* Ajusta la distancia desde la izquierda según tus necesidades */
}
